body {
	background: #f4f4ee url("../images/backgroundNoise.png") 0 0 repeat;
	margin:0;
	margin-top:15px;
}
	
#content{
	margin:auto;
	width:855px;
	min-height: 85%;
}

h1, #changelog h2{
	color: #222;
	font-family: 'Magra',Arial,"Helvetica Neue",Helvetica,Sans;
	font-weight: bold;
	letter-spacing: -0.025em;
}

#upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
#upload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/***FIRST STYLE THE BUTTON***/
#upload {
	width:190px;
	background: #dfdcd6; /*the colour of the button*/
	padding: 8px 14px 10px; /*apply some padding inside the button*/
	border:1px solid #dfdcd6; /*required or the default border for the browser will appear*/
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	
	/*style the text*/
	font-family:'Magra', sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
	color: #696969;
	
	/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
	-webkit-box-shadow: inset 0px 1px 0px #dfdcd6, 0px 5px 0px 0px #9E9D9B, 0px 5px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #dfdcd6, 0px 5px 0px 0px #9E9D9B, 0px 5px 5px #999;
	box-shadow: inset 0px 1px 0px #dfdcd6, 0px 5px 0px 0px #9E9D9B, 0px 5px 5px #999;
	
	/*give the corners a small curve*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
#upload:hover,
#upload:focus {
	color:##888888;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #dfdcd6, 0px 2px 0px 0px #9E9D9B, 0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #dfdcd6, 0px 2px 0px 0px #9E9D9B, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #dfdcd6, 0px 2px 0px 0px #9E9D9B, 0px 2px 5px #999;
}

#upload input{
	height: 46px;
}

.checked, .unchecked{
	text-indent: -9999px; /* get rid of any text */
	height: 32px;
	width: 36px;
	position: relative;
	left: 32px;
}

.unchecked {	background: transparent url("../images/checkbox.gif") no-repeat 0 -64px;}
.checked {		background: transparent url("../images/checkbox.gif") no-repeat 0 0;}

#output td:nth-child(2), 
#output th{
	font-family: 'Magra',Arial,"Helvetica Neue",Helvetica,Sans;
	font-size:1em;
	
	white-space: nowrap;
}

#output th,
#output td{
	text-align:center;
}

#output th:nth-child(2),
#output td:nth-child(2){
	text-align:left;
}

#output th:nth-child(1){
	text-indent: -9999px; /* get rid of any text */
}

a {
	color: #567d68;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#output a{
	color: #555;
}

#output table td, p, strong, input, footer, #changelog ul, #options{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:1em;
}

#output table td, p, strong, input, #options{
	font-size:0.8em;
}

#intro img,
#intro #description {
	float:left;
}

#options{
	float:right;
	display:none;

    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.options--present {
	max-width: 320px;
}

.options--present span {
    margin-bottom: 5px;
    display: block;
}

#force-filter {}

#force-filter div {
    min-width: 90px;
    display: inline-block;
    line-height: 20px;
}

#force-filter div input {
    margin-right: 5px;
    height: 11px;
}

#intro #description{
	width:775px;
	font-style:italic;
	margin-left:10px;
}

footer {
	background: #dfdcd6 url("../images/masterSprite.png") 0 -882px repeat-x;
	
	position: relative;
	bottom: -12px;
	
	color: #A59C9C;
	min-height: 5%;
}

footer p{
	font-size: 65.57%;
	line-height: 1.5em;
	
	padding: 4em 0em 1em 0em;
}

div#changelog{
	display:none;
}

.clear{
	clear:both;
}