body {
	position: relative;
  	margin: 0;
	background: #f4f4ee url('../images/backgroundNoise.png') 0 0 repeat;
  	height: 100%;
}

.content {
	margin: auto;
	padding-top: 15px;
	width: 855px;
	min-height: 85%;
}

h1,
.changelog h2{
	letter-spacing: -0.025em;
	color: #222;
	font-family: 'Magra', Arial, 'Helvetica Neue', Helvetica, Sans;
	font-weight: bold;
}

.header {
	display: flex;
	justify-content: space-between;
}

.uploadBtn {
	display: inline-block;
	position: relative;
	margin: 10px;
	height: 18px;
	border: 1px solid #dfdcd6;
	border-radius: 10px;
	box-shadow: inset 0 1px 0 #dfdcd6, 0 5px 0 0 #9E9D9B, 0 5px 5px #999;
	background: #dfdcd6;
	cursor: pointer;
	padding: 8px 14px 10px;
	overflow: hidden;
	
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	letter-spacing: .1em;
	color: #696969;
	font-family: 'Magra', sans-serif;
	
}

.uploadBtn:hover, 
.uploadBtn:focus {
	box-shadow: inset 0 1px 0 #dfdcd6, 0 2px 0 0 #9e9d9b, 0 2px 5px #999;
	color: #888;
}

.uploadBtn input {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;

	margin: 0;
	cursor: pointer;
	padding: 0;
	height: 46px;

	font-size: 20px;
	filter: alpha(opacity=0);
}

.checked,
.unchecked{
	display: inline-block;
	width: 36px;
	height: 32px;
}

.unchecked {
	background: transparent url('../images/checkbox.gif') no-repeat 0 -64px;
}

.checked {
	background: transparent url('../images/checkbox.gif') no-repeat 0 1px;
}

.headerImdb, 
.output th {
	white-space: nowrap;
	font-family: 'Magra', Arial, 'Helvetica Neue', Helvetica, Sans;
	font-size: 1em;
}

th,
td {
	text-align: center;
}

.headerTitle,
.tdTitle {
	text-align: left;
}

.headerRank {
	text-indent: -9999px; /* get rid of any text */
}

.headerUser {
	min-width: 60px;
}

a {
	text-decoration: none;
	color: #567d68;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.output a{
	color: #555;
}

.output table td,
p,
strong,
input,
footer,
.changelog ul,
.options {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
}
	
.output table td,
p,
strong,
input,
.options {
	font-size: 0.8em;
}

.options {
    display: none;

    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

.options input[type="checkbox"] {
    width: 15px;
    position: relative;
    height: 15px;
    margin-right: 5px;
}

.options input[type="range"] {
    position: relative;
    top: 3px;

.options--present {
	max-width: 320px;
}

.options--present span {
    display: block;
    margin-bottom: 5px;
}

.force-filter div {
    display: inline-block;
    min-width: 90px;
    line-height: 20px;
}

.force-filter div input {
    margin-right: 5px;
    height: 11px;
}

.intro--description {
	width: 775px;
	font-style: italic;
}

div.changelog {
	display: none;
}

.clear {
	clear: both;
}
